body {
  position: absolute;
  left:0px;
  top:0px;
}

#terrainCanvas {
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
}
#cricketCanvas {
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
  /*border: 1px solid black;*/
}

.instructions {
  /*position: relative;*/
  margin-top: 470px;
  margin-left: 50px;
}
