body {
  position: absolute;
  left:0px;
  top:0px;
  background-color: #ffed96;
  font-family: "Courier New";
}

#terrainCanvas {
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
}
#cricketCanvas {
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 80px;
    top: 100px;
    width: 550px;
    height: 400px;
    z-index: 3;
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.instructions {
  margin-top: 470px;
  margin-left: 50px;
}

.d {
  /*display: inline-block;*/
}

.d p {
  display: inline-block;
}

.cricket {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
}

.goal {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 255, 0, 255);
}
