
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  /*position: absolute;*/
  /*left:0px;*/
  /*top:0px;*/
  background-color: #ffed96;
  font-family: "Courier New";
  justify-content: center;
  align-items: center;
}

canvas {
  /*margin-left: 50px;*/
  /*margin-top: 50px;*/
  /*margin-top: auto;*/
  position: absolute;
  /*width: 1060;
  height: 550;*/
  /*width: 578;
  height: 400;*/
}

#terrainCanvas {
  z-index: 1;
  border: 1px solid black;
}
#cricketCanvas {
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 80px;
  top: 100px;
  width: 550px;
  height: 400px;
  z-index: 3;
  text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.instructions {
  margin-top: 470px;
  margin-left: 50px;
}

.d {
  /*display: inline-block;*/
}

.d p {
  display: inline-block;
}

.cricket {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
}

.goal {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 255, 0, 255);
}
